<!-- appname/templates/home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Plagiarism Checker</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom styles for the home page */
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 100px;
        }
        h1 {
            font-size: 3rem;
            color: #007bff;
            text-align: center;
            margin-bottom: 30px;
        }
        .submit-button {
            width: 200px;
            font-size: 1.2rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Plagiarism Checker</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="document">Upload Your Document</label>
                        <input type="file" class="form-control" name="new_file" required>
                    </div>
                    <button type="submit" class="btn btn-primary submit-button">Check Plagiarism</button>
                </form>
            </div>
        </div>
        {% if message %}
        <p style="text-align: center;padding-top: 30px;color: red;">{{message}}</p>
        {% endif %}
        <div style="text-align: center;padding-top: 25px;">
            <a href="{% url 'marks_calculation' %}">How Marks Are Calculated</a>
        </div>
    </div>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
